html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 22px;
}

a {
  color: inherit;
}

p {
  margin-bottom: 20px;
}

.title {
  margin: 100px 0;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: var(--accent);
}

.subtitle {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}


